extends base

include components

block content
  h1(align='center') #{title}
  h4(align='center') <i>A web app for taking attendance</i>

  br
  +centered_link_button('/organizations', 'Organizations')
